body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(83, 83, 243);
  text-align: center;
}

h2 {
  color: rgb(109, 108, 67);
  padding: 20px 0 0 0;
  margin-bottom: 0;
}

h4 {
  color: rgb(109, 108, 67);
  padding: 25px;
}
form {
  padding: 0px 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(109, 108, 67);
}

.col-2 {
  text-align: center;
  padding: 15px;
}

#current-date-time,
#description,
#city-name {
  color: rgb(109, 108, 67);
}

#entered-city-name {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  height: 40px;
  line-height: 35px;
  padding-right: 10px;
  width: 60%;
}

.weather-app {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid dodgerBlue;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

#current-temperature {
  color: blue;
  font-size: 55px;
  font-weight: 400;
}
