body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(241, 214, 214);
}

h1 {
  color: rgb(240, 81, 81);
  text-align: center;
}

h2 {
  color: rgb(109, 108, 67);
  padding: 20px 0 0 0;
  margin-bottom: 0;
}

h4 {
  color: rgb(109, 108, 67);
  padding: 25px;
}
form {
  padding: 0px 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(109, 108, 67);
}

li:first-letter {
  text-transform: capitalize;
}

.col-2 {
  text-align: left;
  padding: 15px;
}

.weather-forecast {
  margin: 10px;
}

.weather-forecast h3 {
  color: rgb(109, 108, 67);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(109, 108, 67);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

#current-date-time,
#description,
#city-name {
  color: rgb(109, 108, 67);
}

#entered-city-name {
  border-color: rgb(211, 103, 130);
  box-shadow: 0 0 8px 0 rgb(230, 148, 162);
  height: 30px;
  line-height: 35px;
  padding-right: 10px;
  width: 100%;
}

.weather-app {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid dodgerBlue;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

#current-temperature {
  color: rgb(11, 11, 17);
  font-size: 55px;
  font-weight: 400;
}
